{{set . "title" "Password"}}
{{template "header.html" .}}

<h1 style="margin-left:24px">Welcome to the passphrase generator.</h1>

<form action="{{url "App.FindPassphrase"}}" onsubmit={{"Passphrase.FindPassword()"}} method="post">
  <fieldset style="margin-left:40px">
    {{with $field := field "passphrase.Phrase" .}}
    <p class="{{$field.ErrorClass}}">
      <label><b>Phrase:</b><br/>example: MyNameIsJohnAndIWasBornOn1968</label>
      <input type="text" name="{{$field.Name}}" size="19" value="{{$field.Flash}}" />
    </p>
    {{end}}

    {{with $field := field "passphrase.PersonalInfo1" .}}
    <p class="{{$field.ErrorClass}}">
      <label><b>Personal information (word):</b><br/>example: John</label>
      <input type="text" name="{{$field.Name}}" size="19" value="{{$field.Flash}}" />
    </p>
    {{end}}

    {{with $field := field "passphrase.PersonalInfo2" .}}
    <p class="{{$field.ErrorClass}}">
      <label><b>Personal information (number):</b><br/>example: 1968</label>
      <input type="text" name="{{$field.Name}}" size="19" value="{{$field.Flash}}" />
    </p>
    {{end}}


    <p class="button">
      <input type="submit" value="Search" />
      <label>Passphrase:</label>
      <output type="text" size="24"/>
    </p>
  </fieldset>
</form>



{{template "footer.html" .}}
