{{set . "title" "Password"}}
{{template "header.html" .}}

<h1 style="margin-left:24px">Welcome to the passphrase generator.</h1>

<!-- <script src="app.go"> </script> -->

<form action="{{url "App.Result"}}" method="post">
  <fieldset style="margin-left:40px">
    {{with $field := field "p.Phrase" .}}
    <p class="{{$field.ErrorClass}}">
      <label><b>Phrase:</b><br/>example: MyNameIsJohnAndIWasBornOn1968</label>
      <input type="text" name="{{$field.Name}}" size="19" value="{{$field.Flash}}" />
    </p>
    {{end}}

    {{with $field := field "p.PersonalInfo1" .}}
    <p class="{{$field.ErrorClass}}">
      <label><b>Personal information (word):</b><br/>example: John</label>
      <input type="text" name="{{$field.Name}}" size="19" value="{{$field.Flash}}" />
    </p>
    {{end}}

    {{with $field := field "p.PersonalInfo2" .}}
    <p class="{{$field.ErrorClass}}">
      <label><b>Personal information (number):</b><br/>example: 1968</label>
      <input type="text" name="{{$field.Name}}" size="19" value="{{$field.Flash}}" />
    </p>
    {{end}}

    {{with $field := field "length" .}}
    <p class="{{$field.ErrorClass}}">
      <label><b>Desired length for the passphrase:</b></label>
      <input type="text" name="length" size="19" />
    </p>
    {{end}}

    <p class="button">
      <input type="submit" value="Search" />
    </p>
  </fieldset>
</form>



{{template "footer.html" .}}
